{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
    <title>Songshaker</title>
    {% block script %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <hr class="mt-0 mb-4">
            {% if user.is_authenticated %}
                <nav class="nav justify-content-center">
                    <a class="nav-link" href="{% url 'playlist-random' %}">Random</a>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </nav>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
