{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<ul>
    {% for playlist in object_list %}
        <li> <a href="{% url 'playlist-detail' playlist.pk %}">{{ playlist.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
