{% extends 'base.html' %}
{% load bootstrap4 %}
{% block script %}
    <script>
        $(function () {
            jQuery('img').each(function () {
                jQuery(this).click(function () {
                    $('audio').each(function () {
                        $(this).trigger('pause');
                    });
                    $(this).closest('div').find('audio').trigger('play');
                })
            });
        })
        ;
    </script>
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        {% if object.spotify_uri %}
            <a href="{{ object.spotify_uri }}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Open
                playlist in spotify</a>
        {% else %}
            <a href="{% url 'submit-playlist' object.pk %}"
               class="btn btn-primary btn-lg {% if object.submitted_to_spotify %}disabled{% endif %}" role="button">
                Submit to Spotify</a>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        {% for entry in object.playlistentry_set.all %}
            <div class="col-m0 w-25">
                <img class="img-fluid img-thumbnail" src="{{ entry.cover_art_url }}" alt="{{ entry.name }}"/>
                <audio preload="auto" {% if entry.preview_url %}src="{{ entry.preview_url }}"{% endif %}></audio>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row justify-content-center">
            {% endif %}
        {% endfor %}
        </div>
{% endblock %}
